.box {
    width: 100%;
    min-height: calc(100vh - 56px);
    background-color: #efefef;
    padding: 30px;
    .page-title {
        color: #333;
        font-family: Noto Sans TC;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 1.5px;
        margin-bottom: 10px;
    }
    .row1 {
    }
    .row {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .col {
            border-radius: 12px;
            border: 1px solid #e7e7e7;
            background: #fff;
            padding: 15px;
            margin-bottom: 15px;
            .col-title {
                color: #333;
                font-family: Noto Sans TC;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                letter-spacing: 1.5px;
                margin-bottom: 10px;
                height: 30px;
            }
            .chat-box {
                width: 100%;
                height: calc(100% - 30px)
            }
            .chat-box :deep(canvas){
                width: 100% !important;
                height: 100% !important;
            }
        }
        .age-box {
            width: 33%;
            height: 350px;
            margin-right: 15px;
        }
        .category-box {
            width: 33%;
            height: 350px;
            margin-right: 15px;
        }
        .end-box{
            width: 23%;
            height: 350px;
            margin-right: 15px;
        }

        .end-box .chat-box :deep(canvas){
            // height: 100px !important;
        }
    }
}
